In [20]:
import pandas as pd

df = pd.read_csv("diabetes_prediction_dataset.csv")
df.to_numpy().shape

(100000, 9)

In [21]:
# gender : Female - 0, Male - 1
import numpy as np
df = df.replace(to_replace={'gender':{'Female': 0, 'Male': 1}})
#np.unique(df['smoking_history'].to_numpy())
"""
No Info - 0
current - 1
ever - 2
former - 3
never - 4 
not current - 5
"""
df = df.replace(to_replace={'smoking_history': {'No Info': 0, 'current': 1, 'ever': 2, 'former': 3, 'never': 4, 'not current': 5}})

C:\Users\admin\AppData\Local\Temp\ipykernel_15860\1570712203.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(to_replace={'smoking_history': {'No Info': 0, 'current': 1, 'ever': 2, 'former': 3, 'never': 4, 'not current': 5}})

In [22]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0

In [23]:
diabetes_target = df['diabetes'].to_numpy()
diabetes_data = df.drop('diabetes', axis=1).to_numpy()
diabetes_data

array([[0, 80.0, 0, ..., 25.19, 6.6, 140],
       [0, 54.0, 0, ..., 27.32, 6.6, 80],
       [1, 28.0, 0, ..., 27.32, 5.7, 158],
       ...,
       [1, 66.0, 0, ..., 27.83, 5.7, 155],
       [0, 24.0, 0, ..., 35.42, 4.0, 100],
       [0, 57.0, 0, ..., 22.43, 6.6, 90]], shape=(100000, 8), dtype=object)

In [24]:
from sklearn.model_selection import train_test_split
diabetes_data.shape

(100000, 8)