## 문자형 
- ", '로 감싼 값 
- \+ 연산자로 문자열 결합
- """ 또는 ''' 로 문자열을 감싸면 자유롭게 줄개행을 통해서 작성 가능
- """, '''로 여러줄 주석을 대체

In [1]:
a = '안녕하세요,'
type(a)

str

In [2]:
b = "반갑습니다."
type(b)

str

In [3]:
c = a + b
print(c)

안녕하세요,반갑습니다.

In [4]:
d = "안녕하세요.\n반갑습니다."
print(d)

안녕하세요.
반갑습니다.

In [7]:
'''
설명1
설명2
...
'''

e = """안녕하세요,
반갑습니다. 
오늘 점심은 뭘 먹을까요?
"""
print(e)

안녕하세요,
반갑습니다.
오늘 점심은 뭘 먹을까요?

In [8]:
a = "I love \"Python\" and \"Java\""
print(a)

I love "Python" and "Java"

### 문자열 연산 
- \+ 문자열 결합 
- \* 문자열 반복

In [9]:
"ABC" * 3

'ABCABCABC'

In [11]:
print('-' * 30)
print('메뉴 선택:')
print('-' * 30)

------------------------------
메뉴 선택:
------------------------------

In [12]:
len(a)

26

## 문자열 인덱싱
- 각 문자 접근은 인덱스 연산자 \[\]를 통해서 접근

### 문자열 슬라이싱 
- a\[시작번호:종료번호\] -> 시작번호 \<=  a \< 종료 번호
- a\[시작번호:] -> 시작번호  부터 끝까지
- a\[:종료번호] -> 종료번호 미만 문자열을 모두 추출 
- 인덱스 번호가 음수, 오른쪽 부터 위치를 계산 
    - \-1 오른쪽 첫번째 문자
- a\[:] -> 전체 문자열 복사

> id\(..\) : 자원의 주소값을 확인

In [13]:
a = "One Little, Two Little, Three Little Indians"

In [17]:
a[0] + a[1] + a[2]

'One'

In [18]:
a[0:3] # 0, 1, 2

'One'

In [19]:
a[4:]

'Little, Two Little, Three Little Indians'

In [21]:
a[37:]

'Indians'

In [22]:
a[-7:]

'Indians'

In [24]:
b = a[:-8]
print("a의 주소:", id(a))
print("b의 주소:", id(b))

a의 주소: 1957768615312
b의 주소: 1957763160528

In [25]:
b = "ABC"
print("주소:", id(b))

b += "DEF"
print("주소:", id(b))

주소: 140735491822384
주소: 1957763086208

In [ ]:
a[0] = 'b'  # 문자열은 불변하기 때문에 변경 불가

TypeError: 'str' object does not support item assignment

In [27]:
b = a[:] # b에 a의 문자열을 복사
c = a # c에 a의 문자열 객체의 주소 복사

print(a, "a의 주소:", id(a))
print(b, "b의 주소:", id(b))
print(c, "c의 주소:", id(c))

One Little, Two Little, Three Little Indians a의 주소: 1957768615312
One Little, Two Little, Three Little Indians b의 주소: 1957768615312
One Little, Two Little, Three Little Indians c의 주소: 1957768615312

## 문자열 형식화
- %d : 정수 
- %f : 실수
    - %10.4f -> 전체 자리수는 10자(정수 부분 + 소수점자리)에서 소수점은 4자까지만 출력 
    - %.4f  -> 소수점 자리수만 4자리로 한정(자바 X)
    - %0.4f (자바 O)
- %s : 문자
    - %10s -> 왼쪽부터 최소 10자, 10자가 안되는 경우 왼쪽부터 공백으로 채워준다.
    - %-10s -> 오른쪽 부터 최소 10자, 10자가 안되는 경우 오른쪽부터 공백으로 채워준다.

### 적용방법 
- "형식화된 문자열" % 대체될 값
- "형식화된 문자열(대체될 부분이 여러개 인경우)" % (값1, 값2, ...)
- 형식화 할때 %를 문자열로 사용하는 경우 %%로 대체
- 문자열 객체의 함수 중에서 format 함수 사용
    - 형식화할때 치환될 부분을 {0}, {1}로 순서 번호 형태로 지정 
    - 형식화할때 치환될 부분을 직접 이름형태로 지정할 수도 있음 {number}, {day}
    - 숫자와 이름을 혼용해서 형식화 문자열을 작성
    - {0:\<10} : 최소 10자리, 남는 자리수를 오른쪽 부터 공백
        - {0:\_<10>} : 최소 10자리, 남는 자리수를 오른쪽 부터 _로 채워 넣는다.

    - {0:\>10} : 최소 10자리, 남는 자리수를 왼쪽 부터 공백 
        - {0:\!>10} : 최소 10자리, 남는 자리수를 왼쪽 부터 !로 채워 넣는다.

    - {0:^10} : 최소 10자리, 남는 자리수는 좌우 균등하게 공백 
        - {0:\0^10} : 최소 10자리, 남는 자리수는 좌우 균등하게 0으로 채워 넣는다. 

    - {0:10.4f} : 최소 10자리(정수부 + 소수점)를 유지, 소수점은 4자리로 한정 
        - {0:.4f} : 소수점만 4자리로 한정
        
- 문자열 앞에 "f", 파이썬 3.6부터 추가, 변수 그 차체를 문자열에 추가

In [31]:
"I drink %d cup of coffee and %d piece of cake" % (10, 3)

'I drink 10 cup of coffee and 3 piece of cake'

In [32]:
"I drink %s cup of coffee and %s piece of cake" % ('ten', 'three')

'I drink ten cup of coffee and three piece of cake'

In [33]:
"%10s," % "Apple"

'     Apple,'

In [34]:
"%-10s," % "Apple"

'Apple     ,'

In [35]:
a = 100.12345678
print("숫자: %f" % a)
print("숫자: %10.4f" % a)
print("숫자: %.4f" % a)

숫자: 100.123457
숫자:   100.1235
숫자: 100.1235

In [37]:
"완료까지 %d%% 입니다." % 85

'완료까지 85% 입니다.'

In [39]:
"I drink {0} cup of coffee and {1} piece of cake".format(5, 3)

'I drink 5 cup of coffee and 3 piece of cake'

In [41]:
"I drink {number1} cup of coffee and {number2} piece of cake".format(number1=10, number2=3)
"I drink {number1} cup of coffee and {number2} piece of cake".format(number2=3, number1=10)

'I drink 10 cup of coffee and 3 piece of cake'

In [42]:
"I drink {0} cup of coffee and {number} piece of cake".format(5, number=3)

'I drink 5 cup of coffee and 3 piece of cake'

In [43]:
coffee = 5
cake = 3
f"I drink {coffee} cup of coffee and {cake} piece of cake"

'I drink 5 cup of coffee and 3 piece of cake'

In [47]:
"***{0:<10}, {1:>10}, {2:^10}***".format("Apple", "Apple", "Apple")

'***Apple     ,      Apple,   Apple   ***'

In [48]:
"***{0:_<10}, {1:*>10}, {2:0^10}***".format("Apple", "Apple", "Apple")

'***Apple_____, *****Apple, 00Apple000***'

In [50]:
print("{0:10.4f}".format(100.12345678))
print("{0:.4f}".format(100.12345678))

  100.1235
100.1235

### f 형식화
- 문자열 앞에 f를 붙이면 된다.
- 변수를 직접 형식화 문자열에 출력 
- 간단한 연산, 함수 호출도 가능