In [1]:
#import faker # faker.Faker
from faker import Faker

In [4]:
faker = Faker("ko-KR")

In [5]:
faker.name()

'김민석'

In [6]:
members = [(faker.name(), faker.address()) for _ in range(30)]

In [7]:
members

[('김영진', '울산광역시 영등포구 학동길 278-15 (건우김나리)'),
 ('김준혁', '경기도 춘천시 오금0길 173-25'),
 ('서영미', '경기도 부천시 원미구 양재천0거리 173-12'),
 ('김도현', '경상북도 연천군 반포대6가 788-93'),
 ('홍서영', '전라남도 고성군 오금거리 766'),
 ('최경희', '제주특별자치도 논산시 테헤란거리 483 (영호이리)'),
 ('이민수', '전라남도 안양시 만안구 석촌호수거리 453-63 (정자최면)'),
 ('박영길', '경상남도 횡성군 반포대5가 498-44'),
 ('오서준', '강원도 수원시 영통구 선릉가 147'),
 ('김영미', '대구광역시 용산구 양재천521거리 742 (성현박임마을)'),
 ('김중수', '광주광역시 도봉구 논현5길 292'),
 ('홍영수', '세종특별자치시 중구 오금4길 799'),
 ('박순자', '충청남도 청주시 서원구 서초대60로 345-42'),
 ('이순옥', '충청남도 삼척시 선릉가 873 (서준한동)'),
 ('류예준', '경기도 홍성군 서초대56로 537-71'),
 ('이정수', '전라북도 의왕시 반포대8길 428'),
 ('손정희', '부산광역시 서구 압구정0로 지하237 (수빈송마을)'),
 ('송영환', '경상북도 청주시 흥덕구 잠실길 635-17'),
 ('김승현', '충청남도 부여군 서초대375거리 593 (옥자강이리)'),
 ('배정순', '광주광역시 광진구 역삼거리 296 (준혁이김읍)'),
 ('김선영', '세종특별자치시 강북구 잠실로 865 (정희김김읍)'),
 ('신은지', '제주특별자치도 춘천시 강남대거리 365-7'),
 ('임지후', '울산광역시 도봉구 언주9로 168-15'),
 ('황영일', '울산광역시 도봉구 영동대21로 141 (영진이리)'),
 ('강옥자', '제주특별자치도 양주시 역삼3거리 286-47'),
 ('이지현', '경상북도 청양군 오금1길 769-39 (민수김나동)'),
 ('권재현', '부산광역시 서대문구 잠실로 314-79'),
 ('최영진', '인천광역시 강서구 강남대847가 449-20'),
 ('손상철', '경기도 청주시 상당구 논현가 363-31 (서윤우마을)'),
 ('최정훈', '경상남도 안양시 동안구 석촌호수로 324-42')]

In [11]:
str = "이이름".encode("euc-kr")

In [12]:
str2 = str.decode("euc-kr")
str2

'이이름'