In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [3]:
import pymysql

In [6]:
# DB 연결 connect(..)
db = pymysql.connect(
    host='localhost',
    port=3306,
    user='SECONDHAND',
    passwd='1234',
    db='SECONDHAND',
    charset='utf8'
)

In [ ]:
# 쿼리 실행은 cursor 객체를 생성 
# execute(...) : 모든 SQL INSERT, UPDATE, DELETE, SELECT 
# fetchone, fetchmany, fetchall : SELECT 구문을 사용한 경우 데이터 조회시
# db객체 commit() : DB에 영구 반영

In [10]:
gender = {'FEMALE': 0, 'MALE': 1, 'OTHER': 2}

"""
No Info - 0
current - 1
ever - 2
former - 3
never - 4 
not current - 5
"""
SH = {'NO_INFO': 0, 'CURRENT': 1, 'EVER': 2, 'FORMER': 3, 'NEVER': 4, 'NOT_CURRENT': 5}

In [12]:
cursor = db.cursor()
sql = "SELECT * FROM SURVEY_DIABETES WHERE trainDone IS NULL OR trainDone = 0"
cursor.execute(sql)

items = []
rows = cursor.fetchall()
for row in rows:
    item = list(row[2:-4])
    item[0] = gender[item[0]]
    item[4] = SH[item[4]]

    items.append(item)

import numpy as np
items = np.array(items)
items

array([[  1.  ,  41.  ,   0.  ,   0.  ,   2.  , 178.5 , 120.  ,  37.66,
          8.2 , 126.  ,   1.  ],
       [  1.  ,  41.  ,   0.  ,   0.  ,   2.  , 178.5 , 120.  ,  37.66,
          8.2 , 126.  ,   1.  ],
       [  1.  ,  40.  ,   0.  ,   0.  ,   1.  , 178.  ,  70.  ,  22.09,
          3.9 ,  90.  ,   0.  ],
       [  0.  ,  40.  ,   1.  ,   1.  ,   2.  , 160.  ,  60.  ,  23.44,
          5.9 , 130.  ,   0.  ],
       [  1.  ,  40.  ,   1.  ,   0.  ,   3.  , 180.  , 150.  ,  46.3 ,
          3.9 , 140.  ,   0.  ]])

In [5]:
# DB 연결 해제 
db.close()